body *{
    box-sizing: border-box;
}

header {
    background-color: #395061;
    border-bottom: #303a63, 8px, solid;
}

footer {
    background-color: #395061;
    border-top: #303a63, 8px, solid;
    height: 25px;
}

body { 
    margin: 0;
    background-color: #dadada;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
}

img {
    width: 100px;
    display: inline;
}

p {
    display: inline;
    vertical-align:top;
    width:max-content;
}

a {
    font-size: larger;
    color: #bb5a21;
}

.inline{
    display: inline;
    margin-inline-end: 50px;
    vertical-align: middle;
}

.blurb {
    background-color: #e2ccbe;
    margin: 20px;
    border: #303a63, 8px, solid;
    border-radius: 5px;
}

.heading {
    margin: 15px;
}

.map {
    margin:20px;
    border: #303a63, 8px, solid;
    border-radius: 5px;
    height: 500px;
    width: 500px;
}


